In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('/Users/chouwilliam/OrbitNext/api-data-download/data_center/public_stats/video_details/example.csv')

In [11]:
df.columns

Index(['Unnamed: 0', 'title', 'published_date', 'channel_id', 'video_stats',
       'description', 'value'],
      dtype='object')

In [13]:
df[['channel_id','title', 'published_date', 'video_stats']]

,channel_id,title,published_date,video_stats
0,UCVYamHliCI9rw1tHR1xbkfw,A New Kind of Gaming Laptop from Corsair!,2022-08-18,"{'viewCount': '619459', 'likeCount': '25370', ..."
1,UCVYamHliCI9rw1tHR1xbkfw,The NEW Samsung Galaxy Fold 4 and Flip 4!,2022-08-10,"{'viewCount': '561341', 'likeCount': '20115', ..."
2,UCVYamHliCI9rw1tHR1xbkfw,The Mini “Steam Deck”,2022-08-06,"{'viewCount': '649161', 'likeCount': '25962', ..."
3,UCVYamHliCI9rw1tHR1xbkfw,OnePlus 10T - Is This What We Wanted?,2022-08-03,"{'viewCount': '446953', 'likeCount': '17872', ..."
4,UCVYamHliCI9rw1tHR1xbkfw,ASUS Zenfone 9 Review - Built For Battery Life!,2022-07-28,"{'viewCount': '926642', 'likeCount': '36547', ..."
...,...,...,...,...
677,NaN,NaN,NaN,NaN
678,NaN,NaN,NaN,NaN
679,NaN,NaN,NaN,NaN
680,NaN,NaN,NaN,NaN
681,NaN,NaN,NaN,NaN

In [4]:
stats_df = df['video_stats']

In [6]:
type(stats_df)

pandas.core.series.Series

In [7]:
stats_df

0      {'viewCount': '619459', 'likeCount': '25370', ...
1      {'viewCount': '561341', 'likeCount': '20115', ...
2      {'viewCount': '649161', 'likeCount': '25962', ...
3      {'viewCount': '446953', 'likeCount': '17872', ...
4      {'viewCount': '926642', 'likeCount': '36547', ...
                             ...
677                                                  NaN
678                                                  NaN
679                                                  NaN
680                                                  NaN
681                                                  NaN
Name: video_stats, Length: 682, dtype: object